<nav id="nav-bar" class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand">Register Form</a>
  </div>
</nav>
<div class="container">
  <form #formdata="ngForm" (ngSubmit)="onClickSubmit(formdata.value)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" name="name" class="form-control" placeholder="Enter First Name" ngModel />
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" value="male" ngModel />
      <label class="form-check-label">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" value="female" ngModel />
      <label class="form-check-label">Female</label>
    </div>
    <br />
    <div class="form-group">
      <label>Country</label>
      <select class="form-control" name="country" [(ngModel)]="country" (change)="onChangeCountry()" ngModel>
        <option *ngFor="let countryName of listCountry" value={{countryName.value}}>{{countryName.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>City</label>
      <select [disabled]="country == null" name="city" class="form-control" ngModel>
        <option *ngFor="let cityName of listCity" value={{cityName.cname}}>{{cityName.cname}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
